.button {
    height: 12%;
    width: 100%;
    font-size: x-large;
}

.newGame {
    @extend .button;
    background-color: rgb(210, 124, 124);
}

.nextNumber {
    @extend .button;
    background-color: greenyellow;
}
