.targetWrapper {
    margin-top: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.target {
    font-size: x-large;
    display: flex;
    gap: 10px;
}

.labelDisabled {
    color: grey;
}
