.gameWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 96vh;
    width: 99vw;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 15%;
    height: 100%;
}

.nextButton {
    height: 12%;
    width: 100%;
    background-color: greenyellow;
    font-size: x-large;
}
